/* ================================= 
  Base Element Styles
==================================== */

body {
    font-family: 'Mallanna', sans-serif;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.main-nav {

}

.nav {


}


/* ---- Layout Containers ---- */

.port-sec {
  

}

.portfolio-container {
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    margin: 0 auto;
  }

/* ---- Page Elements ---- */

.contact {
  text-align: center;
}

/* ---- Columns ---- */



/* ================================= 
  Media Queries
==================================== */




/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}