/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Mallanna', sans-serif;
}

img {
	max-width: 100%;
}
/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.main-nav {

}

.nav {


}


/* ---- Layout Containers ---- */

.portfolio-container {
    width: 90%;
    height: 300px;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    overflow: scroll; 
}

.portfolio-container {
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    margin: 0 auto;
  }

/* ---- Page Elements ---- */

.contact {
  text-align: center;
}

/* ---- Columns ---- */



/* ================================= 
  Media Queries
==================================== */




/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}