/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Mallanna', sans-serif;
    margin: 0 auto;
    background-color: #c7c7bf;
}

header,
footer {
  font-family: 'Comic Neue', cursive;
  width: 100%;
}

hr {
  width: 95%;
  color: #F5F5F5;
}

footer {
  display: inline-block;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.name a,
.nav a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    background-color: #efe0d4;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid brown;
}

.name,
.nav li {
  text-decoration: none;
  margin-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav {
  margin-top: 13px;
  padding-bottom: 5px;
}

.nav a:hover {
	color: #618580;
}

.name {
  margin: 0;
  font-weight: bolder;
  padding-bottom: 8px;
}

/* ---- Layout Containers ---- */

.intro {
    margin-top: 0;
    margin: auto;
    text-align: center;
    color: #50404d;
    line-height: 1.2em;
    background: linear-gradient(#c7c7bf, transparent 99%),
    #c9e0dd;
    padding-bottom: 15px;
}

.intro p {
  padding-top: 10px;
  margin-bottom: 0px; 
}

.container {
    margin: 0 auto;
}

.port-head {
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: auto;
  line-height: 1em;
}

.contact {
  color: #50404d;
  background: linear-gradient(#c9e0dd, transparent 99.9%),
  #c7c7bf;
  font-size: 1.05em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding: 12px 20px 12px 20px;
  text-align: center;
}

.callme {
  padding-bottom: 10px;
  width: 90%;
  margin: auto;
}

/* ---- Page Elements ---- */

.main-header {
  padding: 1em 0em;
  text-align: center;
}

.profile-img {
  padding: 0 15px;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.main {
  background-color:#c9e0dd;
  line-height: 1.2em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-top: 20px;
}

.main-left p,
.main-right p {
  color: #618580;
}

.main img {
  max-width: 100%;
  padding-top: 15px;
}

.history {
  padding: 30px 15px 30px 10px;
  background-color:#c9e0dd;
}

.history-header {
  text-align: center;
}

.history p {
  padding-bottom: 5px;
}

.history p {
  font-size: 1.1em;
}

.history ul {
  text-align: left;
}

.history li {
  padding-bottom: 1.3em;
}

.footername,
.footerback {
  font-weight: bolder;
  padding: 8px 10px 0px 10px;
  margin: 2.5px;
}

.main-footer {
  font-size: .9em;
  padding-left: 10px;
  padding-right: 10px;
}

.footername {
  float: left;
}

.footerback {
  float: right;
}

.footerback a {
  text-decoration: none;
  color: black;
}

.largefooter {
  visibility: hidden;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

  .wrap {
    min-height: calc(100vh - 58.4px);
  }
  
  .main-header {
    padding-top: 50px;
    padding-bottom: 19px;
  }

  .main-header h1 {
    font-size: 1.8em;
  }

  .container {
        width: 95%;
        max-width: 1000px;
    }

  nav {
    padding-bottom: 2px;
    margin-bottom: 2px;
  } 

    .nav a,
    .nav li {
    padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    }

    .name {
        width: 240px;
        margin: auto;
    }

    .profile-img {
      float: right;
      padding-top: 30px;
      margin-left: 10px;
    }
    
    .intro {
      margin: auto;
      text-align: center;
      font-size: 1.25em;
      line-height: 1.4em;
      padding-top: 10px;
      border-left: 18px solid #c7c7bf;
      border-right: 18.5px solid #c7c7bf;
  }
  
  .intro p {
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 10px;
    text-align: left;
    line-height: 1.15em;
    font-size: 1.15em;
  }

  h5 {
    font-size: 1em;
    font-weight: bold;
    color: black;
  }

  .port-head {
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 27px;
    padding-bottom: 5px;
  }

  .main {
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

  .main-left,
  .main-right {
    font-size: 1.1em;
    line-height: 1.1em;
  }

  .main-left img,
  .main-right img {
    margin-top: 30px;
  }

  .main-left {
    float: left;
    width: 49%;
  }

  .main-right {
    float: right;
    width: 49%;
  }

  .group:after {
    content: "";
    display: table;
    clear: both;
  }


  .contact {
    margin-top: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-left: 18px solid #c7c7bf;
    border-right: 18.5px solid #c7c7bf;
  }

  .callme {
    width: 78%;
    margin: auto;
    font-size: 1.3em;
  }

  .footerback {
    visibility: hidden;
    display: none;
    margin: 0;
    padding: 0;
    width: 0%;
  }

.footername,
.largefooter,
.footber-nav li,
.footer-nav a {
  visibility: visible;
}

.footer {
  width: 100%;
  font-size: 1em;
}

  .footer,
  .footername,
  .largefooter {
    display: inline-block;
  }

  .footername {
    float: left;
    margin-left: 8px;
  }

  .largefooter {
    float: right;
  }

  .largefooter,
  .footer-nav li,
  .footer-nav a {
    display: inline;
    }

  .footer-nav {
    margin-right: 18px;
    margin-top: 2.5px;
    padding-top: 8px;
  }

  .footer-nav li {
    margin-left: 8px;
  }

  .footer-nav a {
    font-size: .7em;
    padding: 2px 9px;
    text-decoration: none;
    background-color: #efe0d4;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    border: .9px solid brown;
}

}

@media (min-width: 1024px) {

  body {
    background-color: #c7c7bf;
  }

  .main-header {
    padding-top: 30px;
    width: 98%;
  }

  .header,
  .footer {
    display: inline-block;
    width: 100%;
  }

  .name,
  .nav,
  .nav li {
      display: inline-block;
      text-decoration: none;
      text-decoration: none;
      color: black;
      font-weight: bold;
      margin-top: 0px;
  }

  .name {
    width: 150px;
    float: left;
    margin-left: 15px;
    margin-top: 13px;
  }

  .nav li,
  .nav a {
  text-transform: uppercase;
}


  nav {
    float: right;
    margin-right: 10px;
    padding-right: 12px;
  }

  .intro {
    padding-top: 30px;
    margin-left: 9px;
    margin-right: 10px;
    display: inline-block;
    border-left: 10px solid #c7c7bf;
    border-right: 10px solid #c7c7bf;
  }

  .intro p {
    padding-right: 48px;
    text-align: left;
    line-height: 1.15em;
    font-size: 1.25em;
  }

  .profile-img {
    float: right;
    padding-top: 25px;
    padding-left: 30px;
  }

  .container {
    width: 96%;
    background-color: white;
  }

  .port-head {
    margin-top: 0px;
    padding-top: 40px;
  }


  .main {
    margin: auto;
    padding-top: 0px;
    padding-left: 35px;
    padding-bottom: 50px;
  }

  .main-left,
  .main-right {
    float: left;
    width: 31%;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 2px;
  }

  .history {
    clear: both;
  }
  
  .history-header {
    text-align: center;
  }
  
  .history p {
    padding-bottom: 10px;
  }

  .contact {
    border-left: 20px solid #c7c7bf;
    border-right: 20px solid #c7c7bf;
  }
  
  .callme {
    width: 63%;
    font-size: 1.4em;
  }

  .footername {
    margin-left: 18px;
  }

  .footer-nav {
    margin-right: 12px;
    margin-top: 2.5px;
    padding-top: 8px;
  }
  .footer-nav li {
    margin-left: 12px;
  }

  .footer-nav a {
    font-size: 1em;
    padding: 4px 12px;
}

.wrap {
  max-width: 1000px;
  margin: auto;
}

.intro,
.main,
.container,
.history,
.contact {
  max-width: unset;
  width: unset;
  border: unset;
  margin: unset;
}

}

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
  }